.DS_Store
node_modules
.venv
build
dist
_vizdoom

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.ini
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

__pycache__
*egg-info
*pyc
